<div class="auth-container">
  <h2>{{ 'RESET_PASSWORD.TITLE' | translate }}</h2>

  <ng-container *ngIf="!linkInvalid(); else invalidLink">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">{{ 'RESET_PASSWORD.NEW_PASSWORD' | translate }}</label>
        <input id="newPassword" type="password" formControlName="newPassword" />
        <div class="error" *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
          {{ 'RESET_PASSWORD.NEW_PASSWORD_ERROR' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">{{ 'RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" />
      </div>

      <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

      <button type="submit" [disabled]="isSubmitting()">{{ 'RESET_PASSWORD.SUBMIT' | translate }}</button>
    </form>
  </ng-container>

  <ng-template #invalidLink>
    <p class="error">{{ 'RESET_PASSWORD.INVALID_LINK' | translate }}</p>
  </ng-template>

  <p class="alt-action">
    <a routerLink="/login">{{ 'RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
  </p>
</div>
