<h2 mat-dialog-title>{{ 'INVOICE.SELECT_CAR' | translate }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>{{ 'COMMON.SEARCH' | translate }}</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="{{ 'INVOICE.SEARCH_CARS' | translate }}">
  </mat-form-field>
  <div class="car-cards-container">
    <div *ngFor="let car of filteredCars() | slice:0:3" class="car-card">
      <img [src]="car.imageUrl" alt="{{car.carName}}" class="car-image">
      <h4>{{ car.carName }}</h4>
      <p>{{ car.specs }}</p>
      <p>{{ 'INVOICE.QUANTITY_LABEL' | translate }}: {{ car.availableQuantity }}</p>
      <button mat-raised-button color="primary" (click)="selectCar(car)">
        {{ 'INVOICE.ADD_TO_INVOICE' | translate }}
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
</mat-dialog-actions>