<div class="erp-page page-container">
  <div class="erp-page-header page-header header-row">
    <div class="erp-page-header-titles">
      <h1 class="erp-page-title">{{ 'STORE_ACCOUNTING_CONFIG.LIST_TITLE' | translate }}</h1>
    </div>
    <div class="erp-page-actions">
      <a routerLink="/setup/store-accounting-configurations/new" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        {{ 'STORE_ACCOUNTING_CONFIG.CREATE_TITLE' | translate }}
      </a>
    </div>
  </div>

  <mat-toolbar class="erp-list-toolbar page-toolbar">
    <button mat-stroked-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
      {{ 'COMMON.REFRESH' | translate }}
    </button>

    <span class="erp-toolbar-spacer toolbar-spacer"></span>

    <button mat-icon-button (click)="printGrid()" [matTooltip]="'COMMON.PRINT' | translate">
      <mat-icon>print</mat-icon>
    </button>
  </mat-toolbar>

  <div class="erp-grid-card grid-container">
    <app-shared-data-grid
      [dataSource]="configurations()"
      [columns]="columns"
      [rowActions]="rowActions"
      keyExpr="id"
      [loading]="loading()"
      noDataText="STORE_ACCOUNTING_CONFIG.NO_CONFIGURATIONS"
      searchPlaceholder="COMMON.SEARCH"
      [pageSize]="10"
      [allowedPageSizes]="[10, 20, 50]"
      (rowAction)="onGridAction($event)">
    </app-shared-data-grid>
  </div>
</div>
