<div class="container">
  <h2 class="page-title">{{ 'MANUFACTURE_YEAR.TITLE' | translate }}</h2>

  <div class="card card-container">
    <div class="form-section">
      <h3 class="form-section-title">{{ 'MANUFACTURE_YEAR.ADD_NEW' | translate }}</h3>
      <form [formGroup]="yearForm" (ngSubmit)="addYear()" class="add-form-grid">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'MANUFACTURE_YEAR.NAME_LABEL' | translate }}</mat-label>
          <input
            matInput
            type="number"
            formControlName="year"
            placeholder="{{ 'MANUFACTURE_YEAR.NAME_PLACEHOLDER' | translate }}"
            name="year"
            required
            min="1900"
            max="2100"
          />
        </mat-form-field>
      </form>
        <button mat-raised-button color="primary" type="submit" [disabled]="yearForm.invalid" class="btn-mat-height">
          <mat-icon>save</mat-icon>
          {{ 'MANUFACTURE_YEAR.ADD_BUTTON' | translate }}
        </button>
    </div>

    <h3 class="card-header">{{ 'MANUFACTURE_YEAR.LIST_TITLE' | translate }}</h3>
    <div class="years-list-wrapper">
      @if (years().length === 0) {
        <p class="empty-state">
          {{ 'MANUFACTURE_YEAR.NO_YEARS' | translate }}
        </p>
      } @else {
        <ng-container *ngIf="cardLayout$ | async as layout">
          <mat-grid-list [cols]="layout.columns" rowHeight="100px">
            @for (year of years(); track year) {
              <mat-grid-tile [colspan]="layout.miniCard.cols" [rowspan]="layout.miniCard.rows">
                <div class="year-item">
                  {{ year }}
                </div>
              </mat-grid-tile>
            }
          </mat-grid-list>
        </ng-container>
      }
    </div>
  </div>
</div>
