<div class="accounting-container" dir="rtl">
  <mat-toolbar color="primary" class="accounting-toolbar">
    <span>{{ 'ACCOUNTING.CHART_OF_ACCOUNTS' | translate }}</span>
  </mat-toolbar>

  <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{ 'ACCOUNTING.CHART_OF_ACCOUNTS' | translate }}">
      <app-chart-of-accounts></app-chart-of-accounts>
    </mat-tab>

    <mat-tab label="{{ 'ACCOUNTING.JOURNAL_ENTRIES' | translate }}">
      <app-journal-entries></app-journal-entries>
    </mat-tab>
  </mat-tab-group>
</div>