<div class="cash-return-container">
  <div class="page-header">
    <div class="header-content">
      <h1 class="page-title">
        <mat-icon>money</mat-icon>
        {{ 'PURCHASE_RETURN.CASH_RETURN_TITLE' | translate }}
      </h1>
      <p class="page-description">
        {{ 'PURCHASE_RETURN.CASH_RETURN_SUBTITLE' | translate }}
      </p>
    </div>
    <div class="header-badge">
      <span class="badge badge-success">{{ 'PURCHASE_RETURN.CASH_RETURN_BADGE' | translate }}</span>
    </div>
  </div>

  <app-purchase-return-form [returnType]="returnType"></app-purchase-return-form>
</div>