:host {
  display: block;
  width: 100%;
  height: 400px; /* Default height */
}

/* Tooltip styles are defined here and not globally */
.chart-tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: #333;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 10;
}
