<mat-form-field appearance="outline" class="quotation-selector">
  <mat-label>{{ 'RETAIL.SELECT_QUOTATION' | translate }}</mat-label>
  <mat-select
    [(ngModel)]="selectedQuotationId"
    [disabled]="loading"
    (selectionChange)="onSelectionChange($event.value)">
    <mat-option *ngFor="let q of quotations" [value]="q.id">
      {{ q.quotationNumber }} - {{ q.customer.name }} ({{ q.totalAmount | number:'1.2-2' }})
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="!loading && quotations.length === 0">
    {{ 'RETAIL.NO_ACTIVE_QUOTATIONS' | translate }}
  </mat-hint>
</mat-form-field>
