<form [formGroup]="form" class="lpo-verification-form">
  <h3>{{ 'BANK_FINANCING.LPO_VERIFICATION' | translate }}</h3>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.LPO_REFERENCE' | translate }}</mat-label>
    <input matInput formControlName="lpoReference" required />
    <mat-error *ngIf="form.get('lpoReference')?.hasError('required')">
      {{ 'BANK_FINANCING.LPO_REFERENCE_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.APPROVED_FINANCING_AMOUNT' | translate }}</mat-label>
    <input matInput type="number" formControlName="approvedFinancingAmount" required />
    <mat-error *ngIf="form.get('approvedFinancingAmount')?.hasError('required')">
      {{ 'BANK_FINANCING.AMOUNT_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.APPROVAL_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="approvalDate" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
