<div class="container">
  <div class="page-header strong-header">
    <div class="header-info">
      <h2 class="page-title">{{ getTitle()}}</h2>
    </div>
  <button (click)="addNewInvoice()" class="btn-primary">
    <mat-icon>add</mat-icon>
    {{ 'SALES.RETURN.NEW_RETURN' | translate }}
  </button>
  </div>

</div>
   <dx-data-grid
      [dataSource]="dataSource"
      [showBorders]="true"
      [showRowLines]="true"
      [showColumnLines]="true"
      height="600px">
      >

     
      <dxo-paging [pageSize]="10" [enabled]="true"></dxo-paging>
      <dxo-pager [visible]="true" [allowedPageSizes]="[5, 10, 20]" [displayMode]="'full'"
        [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true"
        [placeholder]="'SALES.SEARCH_PLACEHOLDER' | translate"></dxo-search-panel>

      <dxi-column
        dataField="returnNo"
        [caption]="'SALES.RETURN.RETURN_NUMBER' | translate"
        alignment="right">
      </dxi-column>

      <dxi-column
        dataField="returnDate"
        [caption]="'SALES.RETURN.RETURN_DATE' | translate"
        dataType="date"
        format="yyyy-MM-dd"
        alignment="right">
      </dxi-column>

      <dxi-column
        dataField="invoiceNo"
        [caption]="'SALES.RETURN.ORIGINAL_INVOICE' | translate"
        alignment="right">
      </dxi-column>

    
    

      <dxi-column
        dataField="refundableAmount"
        [caption]="'SALES.RETURN.TOTAL_AMOUNT' | translate"
        dataType="number"
        format="currency"
        alignment="right">
        <dxo-format type="currency" currency="SAR"></dxo-format>
      </dxi-column>

      <dxi-column type="buttons"  [caption]="'SALES.RETURN.ACTIONS' | translate">
        <dxi-button icon="edit" [hint]="'SALES.RETURN.EDIT' | translate" [onClick]="onEditClick"></dxi-button>
        <dxi-button icon="trash" [hint]="'SALES.RETURN.DELETE' | translate" [onClick]="deleteInvoice"></dxi-button>
      </dxi-column>

      <dxo-summary>
        <dxi-total-item
          column="refundableAmount"
          summaryType="sum"
          [customizeText]="customizeTotalText">
        </dxi-total-item>
        <dxi-total-item
          column="returnNo"
          summaryType="count"
          [customizeText]="customizeCountText">
        </dxi-total-item>
      </dxo-summary>

    </dx-data-grid>
