<div class="container">
  <div class="page-header strong-header">
    <div class="flex justify-between items-center">
        <h2 class="strong-title">{{ customTitle ? (customTitle | translate) : ('SALES.LIST_TITLE' | translate) }}</h2>
      <button (click)="addNewInvoice()" class="btn-primary">
        {{ 'SALES.RETURN.NEW_RETURN' | translate }}
      </button>
    </div>
  </div>

  <div >

  </div>
</div>
    <dx-data-grid
      [dataSource]="dataSource"
      [showBorders]="true"
      [showRowLines]="true"
      [showColumnLines]="true"
      [width]="'100%'"
    >
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-paging [pageSize]="10" [enabled]="true"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [displayMode]="'full'"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true">
      </dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [placeholder]="'SALES.RETURN.SEARCH_PLACEHOLDER'"></dxo-search-panel>

      <dxi-column
        dataField="returnNo"
        [caption]="'SALES.RETURN.RETURN_NUMBER' | translate"
        [width]="150"
        alignment="right">
      </dxi-column>

      <dxi-column
        dataField="createdDate"
        [caption]="'SALES.RETURN.RETURN_DATE' | translate"
        dataType="date"
        format="yyyy-MM-dd"
        [width]="120"
        alignment="right">
      </dxi-column>

      <dxi-column
        dataField="invoiceNo"
        [caption]="'SALES.RETURN.ORIGINAL_INVOICE' | translate"
        [width]="150"
        alignment="right">
      </dxi-column>

  

    

      <dxi-column
        dataField="refundableAmount"
        [caption]="'SALES.RETURN.TOTAL_AMOUNT' | translate"
        dataType="number"
        format="currency"
        [width]="130"
        alignment="right">
        <dxo-format type="currency" currency="SAR"></dxo-format>
      </dxi-column>

      <dxi-column type="buttons" caption="{{ 'PURCHASES.ACTIONS' | translate }}" [width]="200" cssClass="no-print">
          <dxi-button
            icon="print"
            hint="{{ 'PURCHASES.PRINT_INVOICE' | translate }}"
            [onClick]="onPrintClick">
          </dxi-button>
          <dxi-button
            icon="edit"
            hint="{{ 'PURCHASES.EDIT_INVOICE' | translate }}"
            [onClick]="onEditClick">
          </dxi-button>
   </dxi-column>
      <dxo-summary>
        <dxi-total-item
          column="totalAmount"
          summaryType="sum"
          [customizeText]="customizeTotalText">
        </dxi-total-item>
        <dxi-total-item
          column="returnInvoiceNumber"
          summaryType="count"
          [customizeText]="customizeCountText">
        </dxi-total-item>
      </dxo-summary>

    </dx-data-grid>
