<div class="accounting-container" dir="rtl">
  <div class="header">
    <h2>{{ 'ACCOUNTING.CHART_OF_ACCOUNTS' | translate }}</h2>
    <button mat-raised-button color="primary" (click)="onAddAccount()">
      <mat-icon>add</mat-icon>
      {{ 'ACCOUNTING.ADD_ACCOUNT' | translate }}
    </button>
  </div>

  <div class="content">

    <div class="form-section">
      <app-add-account
        [isEditing]="isEditing"
        [editingAccount]="editingAccount"
        (accountSaved)="onAccountSaved($event)"
        (cancelled)="onCancel()">
      </app-add-account>
    </div>
  </div>
</div>