<div class="erp-page container-fluid p-4">
  <div class="erp-page-header page-header strong-header header-row">
    <div class="erp-page-header-titles header-left">
      <h2 class="erp-page-title">{{ 'BANK_FINANCING.DELIVERIES_LIST_TITLE' | translate }}</h2>
    </div>
    <div class="erp-page-actions header-right">
      <button *ngIf="permissionService.hasPermission('sales.bank.deliveries.view')" mat-raised-button color="primary" (click)="onCreateNew()">
        <mat-icon>add</mat-icon>
        {{ 'BANK_FINANCING.NEW_DELIVERY_ACTION' | translate }}
      </button>
    </div>
  </div>

  @if (isMobile()) {
    <shared-mobile-list
      [data]="deliveries()"
      [fields]="sharedMobileFields"
      [titleOf]="mobileTitleOf"
      [trackByFn]="mobileTrackBy"
      [actions]="sharedMobileActions"
      emptyMessage="BANK_FINANCING.NO_DELIVERIES"
      (action)="onSharedMobileAction($event)">
    </shared-mobile-list>
  } @else {
    <div class="erp-grid-card grid-container">
      <app-shared-data-grid
        [dataSource]="deliveries()"
        [columns]="columns"
        [rowActions]="rowActions"
        keyExpr="id"
        height="600px"
        noDataText="BANK_FINANCING.NO_DELIVERIES"
        [pageSize]="10"
        [allowedPageSizes]="[10, 20, 50]"
        (rowDblClick)="onGridRowDblClick($event)"
        (rowAction)="onGridAction($event)">
      </app-shared-data-grid>
    </div>
  }
</div>
