<div class="client-quotation-container">
  <div class="page-header">
    <h2>{{ 'CLIENT_QUOTATION.TITLE' | translate }}</h2>
  </div>

  <form [formGroup]="headerForm" class="header-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'CLIENT_QUOTATION.QUOTATION_NUMBER' | translate }}</mat-label>
      <input matInput formControlName="quotationNumber" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CLIENT_QUOTATION.LINKED_PURCHASE_REQUEST' | translate }}</mat-label>
      <input matInput formControlName="purchaseRequestId" type="number">
      <mat-error *ngIf="headerForm.get('purchaseRequestId')?.hasError('required')">
        {{ 'CLIENT_QUOTATION.REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CLIENT_QUOTATION.QUOTATION_DATE' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="quotationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="headerForm.get('quotationDate')?.hasError('required')">
        {{ 'CLIENT_QUOTATION.REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CLIENT_QUOTATION.VALIDITY_PERIOD' | translate }}</mat-label>
      <input matInput formControlName="validityPeriod" placeholder="{{ 'CLIENT_QUOTATION.VALIDITY_PLACEHOLDER' | translate }}">
      <mat-error *ngIf="headerForm.get('validityPeriod')?.hasError('required')">
        {{ 'CLIENT_QUOTATION.REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CLIENT_QUOTATION.CURRENCY' | translate }}</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let curr of currencies" [value]="curr.value">
          {{ curr.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="headerForm.get('currency')?.hasError('required')">
        {{ 'CLIENT_QUOTATION.REQUIRED_FIELD' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'CLIENT_QUOTATION.NOTES' | translate }}</mat-label>
      <textarea matInput formControlName="notes" rows="3"></textarea>
    </mat-form-field>
  </form>

  <div class="details-section">
    <div class="section-header">
      <h3>{{ 'CLIENT_QUOTATION.DETAILS_TITLE' | translate }}</h3>
      <button mat-raised-button color="primary" (click)="addDetail()">
        <mat-icon>add</mat-icon>
        {{ 'CLIENT_QUOTATION.ADD_ITEM' | translate }}
      </button>
    </div>

    <dx-data-grid
      [dataSource]="details"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      keyExpr="__id"
      (onRowInserted)="onRowInserted($event)"
      (onRowUpdated)="onRowUpdated($event)"
      (onRowRemoved)="onRowRemoved($event)">

      <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>

      <dxi-column dataField="item" [caption]="'CLIENT_QUOTATION.ITEM' | translate"></dxi-column>
      <dxi-column dataField="price" [caption]="'CLIENT_QUOTATION.PRICE' | translate" dataType="number" ></dxi-column>
      <dxi-column dataField="discount" [caption]="'CLIENT_QUOTATION.DISCOUNT' | translate" dataType="number"></dxi-column>
      <dxi-column dataField="tax" [caption]="'CLIENT_QUOTATION.TAX_PERCENT' | translate" dataType="number"></dxi-column>
      <dxi-column dataField="deliveryPeriod" [caption]="'CLIENT_QUOTATION.DELIVERY_PERIOD' | translate"></dxi-column>
      <dxi-column [caption]="'CLIENT_QUOTATION.LINE_TOTAL' | translate" dataField="lineTotal" [calculateCellValue]="calculateLineTotalForGrid"></dxi-column>

      <dxi-column type="buttons">
        <dx-button name="remove"></dx-button>
      </dxi-column>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"></dxo-pager>
    </dx-data-grid>

    <div class="empty-state" *ngIf="details.length === 0">
      <mat-icon>inbox</mat-icon>
      <p>{{ 'CLIENT_QUOTATION.NO_ITEMS' | translate }}</p>
    </div>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      {{ 'CLIENT_QUOTATION.SAVE' | translate }}
    </button>
    <button mat-raised-button (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      {{ 'CLIENT_QUOTATION.CANCEL' | translate }}
    </button>
  </div>
</div>
