<div class="erp-page container-fluid p-4">
  <div class="erp-page-header page-header strong-header header-row">
    <div class="erp-page-header-titles header-left">
      <h2 class="erp-page-title">{{ 'CARS_RECEIPT_NOTE.LIST_TITLE' | translate }}</h2>
    </div>
    <div class="erp-page-actions header-right">
      <button mat-raised-button color="primary" (click)="onCreateNew()" appHasPermission="grn.create">
        <mat-icon>add</mat-icon>
        {{ 'CARS_RECEIPT_NOTE.CREATE_TITLE' | translate }}
      </button>
    </div>
  </div>

  <div class="erp-grid-card">
    <!-- Shared DataGrid: same columns/status badge/view action as before; on mobile it
         renders the same card list (mobileFields/mobileTitleOf/mobileTrackBy) in place of
         the clipped grid columns. -->
    <app-shared-data-grid
      [dataSource]="receiptNotes"
      [columns]="columns"
      [rowActions]="rowActions"
      [cellTemplates]="cellTemplates"
      [mobileItems]="receiptNotes"
      [mobileFields]="mobileFields"
      [mobileTitleOf]="mobileTitleOf"
      [mobileTrackBy]="mobileTrackBy"
      keyExpr="id"
      height="600px"
      noDataText="CARS_RECEIPT_NOTE.NO_RECEIPT_NOTES"
      [pageSize]="10"
      [allowedPageSizes]="[10, 20, 50]"
      (rowAction)="onGridAction($event)">

      <ng-template let-note>
        <button type="button" class="btn btn-light" (click)="mobileView(note)">{{ 'COMMON.VIEW' | translate }}</button>
      </ng-template>

      <ng-template #statusTemplate let-cell>
        <app-document-status-badge [status]="cell.value"></app-document-status-badge>
      </ng-template>
    </app-shared-data-grid>
  </div>
</div>
