/* Opening Balances Financial List Component Styles */

mat-card-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: var(--surface-sunken);
}

mat-card-title {
  flex: 1;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

button mat-icon {
  margin-inline-end: 8px;
}
