<div class="invoice-dropdown-section">
  <label class="dropdown-label">{{ label | translate }}</label>
  <dx-drop-down-box
    [(value)]="gridBoxValue"
    [(opened)]="isDropDownOpened"
    [dataSource]="dataSource"
    [displayExpr]="getDisplayExpr"
    valueExpr="id"
    [placeholder]="placeholder | translate"
    [showClearButton]="true"
    [disabled]="disabled"
    (onValueChanged)="onDropDownBoxValueChanged($event)">
    
    <div *dxTemplate="let data of 'content'">
      <!-- Shared DataGrid: single-selection invoice picker inside the dropdown. -->
      <app-shared-data-grid
        [dataSource]="dataSource"
        [columns]="columns"
        [selectedRowKeys]="gridBoxValue()"
        [selectionMode]="'single'"
        [enableMobileCards]="false"
        [showSearchPanel]="false"
        [showHeaderFilter]="false"
        [showColumnChooser]="false"
        keyExpr="id"
        height="400"
        scrollingMode="virtual"
        searchPlaceholder="COMMON.SEARCH"
        noDataText="COMMON.NO_DATA"
        [pageSize]="10"
        [allowedPageSizes]="[5, 10, 20]"
        (selectionChanged)="onInvoiceSelectionChanged({ selectedRowsData: $event })">
      </app-shared-data-grid>
    </div>
  </dx-drop-down-box>
</div>
