<form [formGroup]="form" class="gov-registration-form">
  <h3>{{ 'BANK_FINANCING.GOV_REGISTRATION' | translate }}</h3>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.LICENSE_PLATE_NUMBER' | translate }}</mat-label>
    <input matInput formControlName="licensePlateNumber" required />
    <mat-error *ngIf="form.get('licensePlateNumber')?.hasError('required')">
      {{ 'BANK_FINANCING.LICENSE_PLATE_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.REGISTRATION_SEQUENCE_CODE' | translate }}</mat-label>
    <input matInput formControlName="registrationSequenceCode" required />
    <mat-error *ngIf="form.get('registrationSequenceCode')?.hasError('required')">
      {{ 'BANK_FINANCING.REGISTRATION_SEQUENCE_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.REGISTRATION_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="regPicker" formControlName="registrationDate" required />
    <mat-datepicker-toggle matSuffix [for]="regPicker"></mat-datepicker-toggle>
    <mat-datepicker #regPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'BANK_FINANCING.ISSUING_AUTHORITY' | translate }}</mat-label>
    <input matInput formControlName="issuingAuthority" />
  </mat-form-field>
</form>
