<form [formGroup]="form" class="payment-gateway-form">
  <h3>{{ 'RETAIL.PAYMENT_DETAILS' | translate }}</h3>

  <mat-button-toggle-group formControlName="method" class="method-toggle">
    <mat-button-toggle *ngFor="let m of methods" [value]="m.value">
      {{ m.labelKey | translate }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'RETAIL.AMOUNT' | translate }}</mat-label>
    <input matInput type="number" formControlName="amount" required />
  </mat-form-field>

  <ng-container *ngIf="!isCash">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'RETAIL.REFERENCE' | translate }}</mat-label>
      <input matInput formControlName="reference" required />
      <mat-error *ngIf="form.get('reference')?.hasError('required')">
        {{ 'RETAIL.REFERENCE_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'RETAIL.TRANSACTION_HASH' | translate }}</mat-label>
      <input matInput formControlName="hash" required />
      <mat-error *ngIf="form.get('hash')?.hasError('required')">
        {{ 'RETAIL.HASH_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('hash')?.hasError('minlength')">
        {{ 'RETAIL.HASH_TOO_SHORT' | translate }}
      </mat-error>
    </mat-form-field>
  </ng-container>
</form>
