<mat-sidenav-container class="app-container" autosize dir="rtl">

  <!-- Sidebar -->
  <mat-sidenav #sidenav position="start" mode="over" [(opened)]="sidebarOpen" class="app-sidenav">
    <div class="sidebar-header">
      <h2 class="title">معرض سيارات</h2>
    </div>

    <mat-nav-list>
      <mat-accordion [multi]="true">
        <ng-container *ngFor="let item of menuData">

          <!-- عنصر بدون Submenu -->
          <ng-container *ngIf="!item.submenu">
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link" (click)="closeSidebar()">
              <span mat-line>{{ item.name }}</span>
            </a>
          </ng-container>

          <!-- عنصر يحتوي Submenu -->
          <ng-container *ngIf="item.submenu">
            <mat-expansion-panel [expanded]="isMenuOpen(item.id)">
              <mat-expansion-panel-header (click)="toggleMenu(item.id)">
                <mat-panel-title>
                  <mat-icon class="ml-2">{{ item.icon }}</mat-icon>
                  {{ item.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-nav-list class="submenu">
                <ng-container *ngFor="let subItem of item.submenu">
                  <a mat-list-item [routerLink]="subItem.route" routerLinkActive="active-link" (click)="closeSidebar()">
                    {{ subItem.name }}
                  </a>
                </ng-container>
              </mat-nav-list>
            </mat-expansion-panel>
          </ng-container>

        </ng-container>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <!-- Toolbar -->
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-title">نظام إدارة معرض السيارات</span>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>

      <img class="avatar" src="https://picsum.photos/100/100" alt="user">
    </mat-toolbar>

    <!-- Routed Pages -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>