.app-container {
  height: 400vh;
}

.app-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-title {
  margin-right: 10px;
}
.app-sidenav {
  direction: rtl;
  text-align: right;
  font-family: 'Amarai', sans-serif;
}
.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.app-sidenav {
  width: 270px;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.page-content {
  padding: 20px;
}

.active-link {
  background: #e0eaff !important;
  color: #0d47a1 !important;
  font-weight: bold;
}

.submenu a {
  padding-right: 40px !important;
}

.app-sidenav mat-list-item {
  font-family: 'Amarai', sans-serif;
}