<div class="car-receipts-container">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>{{ 'CAR_RECEIPTS.TITLE' | translate }}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="addNewReceipt()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <dx-data-grid
    [dataSource]="carReceipts"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [columnResizingMode]="'widget'"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    keyExpr="id"
    class="car-receipts-grid">

    <dxi-column dataField="receiptNumber" caption="{{ 'CAR_RECEIPTS.RECEIPT_NUMBER' | translate }}"></dxi-column>
    <dxi-column dataField="receiptDate" caption="{{ 'CAR_RECEIPTS.RECEIPT_DATE' | translate }}" dataType="date"></dxi-column>
    <dxi-column dataField="supplier.name" caption="{{ 'CAR_RECEIPTS.SUPPLIER' | translate }}"></dxi-column>
    <dxi-column dataField="purchaseOrder.poNumber" caption="{{ 'CAR_RECEIPTS.PURCHASE_ORDER' | translate }}"></dxi-column>
    <dxi-column dataField="carReceiptItems" caption="{{ 'CAR_RECEIPTS.ITEMS_COUNT' | translate }}" [calculateCellValue]="getItemsCount"></dxi-column>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"></dxo-pager>
  </dx-data-grid>
</div>