<div class="sale-parent-container">
  <h2>{{ 'SALE.MANAGEMENT' | translate }}</h2>

  <form [formGroup]="saleForm" (ngSubmit)="onSubmit()" class="sale-form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'SALE.TYPE' | translate }}</mat-label>
      <mat-select formControlName="saleType">
        <mat-option *ngFor="let type of saleTypes" [value]="type">
          {{ 'SALE.TYPE_' + type.toUpperCase() | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CUSTOMER.SELECT' | translate }}</mat-label>
      <mat-select formControlName="customerId">
        <!-- Customer options would be populated here -->
        <mat-option value="1">Customer 1</mat-option>
        <mat-option value="2">Customer 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'CAR.SELECT' | translate }}</mat-label>
      <mat-select formControlName="carId">
        <!-- Car options would be populated here -->
        <mat-option value="1">Car 1</mat-option>
        <mat-option value="2">Car 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="approved">
      {{ 'SALE.APPROVED' | translate }}
    </mat-checkbox>

    <div class="sale-type-content" [ngSwitch]="saleForm.get('saleType')?.value">
      <app-sales-invoice-cash *ngSwitchCase="'cash'"></app-sales-invoice-cash>
      <app-sales-invoice-credit *ngSwitchCase="'credit'"></app-sales-invoice-credit>
      <app-installment-sale *ngSwitchCase="'installments'" [parentForm]="saleForm"></app-installment-sale>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!saleForm.valid">
      {{ 'COMMON.SUBMIT' | translate }}
    </button>
  </form>
</div>