<mat-form-field appearance="outline" class="pending-quotes-dropdown">
  <mat-label>{{ 'BANK_FINANCING.SELECT_PENDING_QUOTE' | translate }}</mat-label>
  <mat-select
    [(ngModel)]="selectedQuotationId"
    [disabled]="loading"
    (selectionChange)="onSelectionChange($event.value)">
    <mat-option *ngFor="let q of quotations" [value]="q.id">
      {{ q.quotationNumber }} - {{ q.customer.name }} - {{ q.bankName }} ({{ q.vehiclePrice | number:'1.2-2' }})
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="!loading && quotations.length === 0">
    {{ 'BANK_FINANCING.NO_PENDING_QUOTES' | translate }}
  </mat-hint>
</mat-form-field>
